.Contact .container .btn_shadow{
    transform: none;
    color: #3c3e41;
    border-radius: 10px;
}

.Contact .container .btn_shadow:hover{
    background: none;
    color: #ff014f;
}

.Contact .container .d_flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact .container .contact_content h2{
    margin-bottom: 10px;
}

.Contact .container .contact_content h4{
    margin-bottom: 5px;
}

.Contact .container .btn_shadow:hover p{
    color: #ff014f;
} 

.Contact .container .contact_content .button .contact_btn{
    margin: 0 20px;
}

.Contact .container .contact_content .button .contact_btn i{
    font-size: 20px;
}


@media (max-width: 400px){
    .Contact .container .contact_content .button{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .Contact .container .contact_content .button .contact_btn{
        margin-bottom: 20px;
    }

}



